<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieFlix - Admin -</title>
    <style>
    #toc_container {
       background: #f9f9f9 none repeat scroll 0 0;
       border: 1px solid #aaa;
       display: table;
       font-size: 95%;
       margin-bottom: 1em;
       padding: 20px;
       width: auto;
    }

    .toc_title {
      font-weight: 700;
      text-align: center;
    }

    #toc_container li, #toc_container ul, #toc_container ul li{
       list-style: outside none none !important;
     }
       
        

    </style>
</head>
<body>
    <h1>'Logged in as {{ (session['Email']) }}  - Admin - </h1>
    <a href  = "{{url_for('logout')}}"> Logout </a>

<div id="toc_container">
    <p class="toc_title">Actions</p>
    <ul class="toc_list">
      <ul>
        <li><a href="{{url_for('find_movie_by_title')}}">Find movies by title </a></li>
        <li><a href="{{url_for('find_movie_from_year')}}">Find movies by year </a></li>
        <li><a href="{{url_for('find_movie_from_actor')}}">Find movies by actor name </a></li>
        <li><a href="{{url_for('insert_movie')}}"> Insert new movie  </a></li>
        <li><a href="{{url_for('delete_movie')}}"> Delete existing movie   </a></li>
        <li><a href="{{url_for('delete_user')}}"> Delete existing user   </a></li>
        <li><a href="{{url_for('upgrade_user')}}"> Upgrade user category  </a></li>



      </ul>
    
</div>

</body>
</html>