<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieFlix</title>
</head>
<body>
    
    <fieldset>
        <h1> Your movie : </h1>
        <h2>[1] Title : {{movie.title}}</h2>
        <h2>[2] Year : {{movie.year}}</h2>
        <h2>[3] Plot : {{movie.plot}}</h2>
        {% set i = [1]%}
        <h2>[4] Actors in the movie  </h2> 
        {%for actor in movie.actors%}
             <h3> {{i}} : {{actor}}  </h3>
             {% if i.append(i.pop() + 1) %}{% endif %}
        {%endfor%}
    </fieldset>

    <h1> Select a field in the movie to update  </h1>
    <form action = "{{url_for('execute_movie_update')}}" method = "post">
       <label="update-title">Change the title</label>
       <input type = "text" id="new-title" name = "new-title" >
       <label="update-year"> Change year of publish  </label>  
       <input type = "text" id = "new-year" name = "new-year"> 
       <label="update-plot"> Change plot of movie  </label>
       <input type = "text" id = "new-plot" name = "new-plot">
       <label="insert-actor">Insert new actor </label>
       <input type = "text" id = "new-actor" name= "new-actor">
       <label="delete-actor"> Delete an actor from the movie </label>
       <input type = "text" id = "old-actor" name="old-actor">
       <button type = "submit">Submit changes</button> 
    </form>



</body>
</html>