<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of movies </title>
</head>
<body>
    
<a href = "{{url_for('logout')}}"> Logout </a>
    
{% for document in movie %}
    <fieldset>
        <h2>Title  : {{document.title}}</h2>
        <h2>Published   : {{document.year}}</h2>
        <h2>Plot  : {{document.plot}}</h2>
        <h2>Actors  : {{document.actors}}</h2>
        <h2>Comments :</h2>
         {% for comment in document.comments%}
            <li> {{comment}} </li>
         {% endfor%} 
    </fieldset> 
    

{% endfor %}






</body>
</html>