<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> MovieFlix </title>
     
    <style>
        div{
        display:flex;
        flex-direction:row;
        }
    </style>

     

</head>
<body>
    
<div>


{%if session['User']=='Simple' or session['Flag'] == False%}    
    <fieldset>    
    <h1>Your comments in MovieFlix : </h1>
        {% set i = [1]%} 
        {%for comment in user.Comments%}
            <h2>{{i}} : {{comment}}</h2>
            {% if i.append(i.pop() + 1) %}{% endif %}
            <br/>
        {%endfor%}
    </fieldset>

    <fieldset>
    <h1>Your ratings in MovieFlix : </h1>
        
        {% set count = [1] %}
        {%for rating in user.ratings%}
                <h2>{{count}} :  {{rating}}</h2>
                {% if count.append(count.pop() + 1) %}{% endif %}
            <br/>
        {%endfor%}
    </fieldset>

    </div>

    <form  action = "{{url_for('delete_comment')}}"  method="post">
        <label for="deletw-comm">Enter comment number to delete specific comment in list </label>
        <input type = "number" id = "comm-num" name = "comm-num">
        <button type = "submit">Delete the comment</button> 
    </form>

{%elif session['User']=='Admin' and session['Flag'] == True%}
    <fieldset>
        <h1> List of comments in movies  </h1>
        {% set j = [1]%}
        {%for movie in movies%}
            {%for comment in movie.comments%}
                <h2> {{j}} : {{ comment}} </h2>
                {% if j.append(j.pop() + 1) %}{% endif %}
            {%endfor%}
        {%endfor%}
    </fieldset>
{%endif%}












</body>
</html>